@{
    ViewBag.Title = "Assignments";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>CKEditor</title>
    <script src="//cdn.ckeditor.com/4.6.2/full/ckeditor.js"></script></head>
<body>
    <textarea name="ckeditor"></textarea>
    <script>
            CKEDITOR.replace( 'ckeditor' );
    </script>
</body>
</html>