@{
    ViewBag.Title = "Attendance";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";

}
@*<h2>@ViewBag.Title.</h2>*@
<h3>@ViewBag.Message</h3>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        @*<div class="jumbotron">*@
        <center ><img src="https://www.vericlock.com/img/logoIconOnly210.png" style="width: 10%" style="height: 10%"></center >
        <center><img src="http://primepay.com/sites/default/files/desktop-time-and-attendance-icon.png" style="width: 10%" style="height: 10%"></center>
        <center><img src="https://www.alterapayroll.com/perch/resources/services/icon-time.png" style="width: 10%" style="height: 10%"></center>


    </div>

</body>
</html>