@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="https://www.oracle.com/marketingcloud/content/images/horizontal/education_02.png" style="width: 100%">

</div> 


