@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">*@
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        @*<div class="jumbotron">*@
           <br /> <h1><center>Manage. Connect. Organize: codeCamp Student Portal</h1></center>
            <img src="~/Content/Images/Education.png" class="w3-circle" style="width: 100%">
        </div>

</body>
</html>


@*<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
<body>

    <div class="w3-container">
        <img src="https://www.oracle.com/marketingcloud/content/images/horizontal/education_02.png" class="w3-circle" alt="Oracle" style="width:50%">
    </div>

</body>
</html>*@


