
@{
    ViewBag.Title = "Teacher";
    Layout = "~/Views/Shared/_LayoutTeacher.cshtml";
}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <br />
    <h1><center>Manage. Connect. Organize: codeCamp Student Portal</h1></center>
    <img src="https://www.oracle.com/marketingcloud/content/images/horizontal/education_02.png" class="w3-circle" style="width: 100%">

</head>
<body>


   