@model StudentPortalCapstone.Models.Assignments

@{
    ViewBag.Title = "DownloadAssignment";
    Layout = "~/Views/Shared/_LayoutStudent.cshtml";
}

<br />
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
    <center> <img src="~/Content/Images/CodingEverything6.png"></center>

</head>
<body>
    <br />

    <h1>Select your Class Name to view your current assignments</h1>

    @using (Html.BeginForm("DisplayAssignmentsForDownload", "Assignments"))
    {


        <div class="form-horizontal">

            <hr />


            <div class="form-group">
                @Html.LabelFor(model => model.RosterId, "Class Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("RosterId", null, htmlAttributes: new { @class = "form-control" })
                    @*@Html.ValidationMessageFor(model => model.Id, "", new { @class = "text-danger" })*@
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Display" class="btn btn-success" />
                </div>
            </div>
        </div>
    }
